.home {
    background-color: rgb(20,20,20);
    color: green;
    font-family: monospace;
    line-height: normal;
    font-size: 28px;
    display: flex;
    align-content: left;
}

.navbarText {
    color: black;
    font-family: monospace;
    font-size: 22px;
}

/* code adapted from https://codepen.io/denic/pen/GRoOxbM */
.typing {
  width: 0;
  animation: typing 2s steps(22);
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  margin: 0%;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 22ch;
  }
}

/* code adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/content-visibility */
.hide {
  animation: hide 0.0001s ease-out forwards;
}

@keyframes hide {
  0% {
    content-visibility: visible;
    color: green;
  }
  100% {
    content-visibility: hidden;
    color: transparent;
  }
}

.show {
  animation: show 0.0001s ease-in forwards;
}

@keyframes show {
  0% {
    content-visibility: hidden;
    color: transparent;
  }
  100% {
    content-visibility: visible;
    color: green;
  }
}